body {
    padding-left: 15px;
    padding-right: 15px;
}
h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 25px;
}

small {
    margin-top: 25px;
    margin-bottom: 25px;
}

.container {
    text-align: center;
    border: 1px solid #ccc;
    margin-top: 10%;
    border-radius: 10px;
    background-color: whitesmoke;
}

.btn {
    margin-top: 25px;
    margin-bottom: 25px;
}

p {
    margin-bottom: 50px;
}

.retry {
    margin-left: 30px;
}
